

<!--共通部分-->
<%= render 'books/info', book: @book %>

<!--ユーザー一覧-->
<div class="col-md-1">
</div>
<div class="col-md-8">
<h2>Uses</h2>
<% @users.each do |user| %>
<div>
  <%= image_tag user.get_profile_image(100,100) %>
  <%= user.name %>
  <%= link_to "Show", user %>
</div>
<% end %>

</div>

  </div> 
</div> 